footer.footer
  .footer__logo
    img(src='' alt='') 
  ul.footer__nav
    li: a(href='#') A propos 
    li: a(href='#') Télécharger nos apps
    li: a(href='#') Devenez guide
    li: a(href='#') Contact
  p.footer__copyright 